<h2>Sou <%= resource_name %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nome', required: true, autofocus: true %>
    <%= f.input :nickname,  label: 'Apelido', required: true      if resource.respond_to? :nickname %>
    <%= f.input :email,     label: 'Email', required: true %>
    <%= f.input :telephone, label: 'Telefone', required: true     if resource.respond_to? :telephone %>
    <%= f.input :bio, required: true                              if resource.respond_to? :bio %>
    <%= f.input :min_investment, label: 'Minimo de Investimento'  if resource.respond_to? :min_investment %>
    <%= f.input :max_investment, label: 'Maximo de Investimento'  if resource.respond_to? :max_investment %>
    <%= f.input :password, label: 'Senha', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: 'Confirmar Senha', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Criar Perfil" %>
  </div>
<% end %>

<%= link_to "Sou Cadastrado", new_session_path(resource_name) %><br />
