<h1><%= @group.name %></h1>

<p><%= @group.description %></p>
<p><%= @group.market.name if @group.market %></p>
<% if @group.investors %>
  <% @group.investors.each do |investor| %>
    <p><%= investor.name %></p>
  <% end %>
<% end %>


<%= simple_form_for [@group, @project] do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :description, label: 'Descrição' %>
  <%= f.input :target, label: 'Publico Alvo' %>
  <%= f.input :partner, label: 'Parceiros' %>
  <%= f.submit 'Cadastrar Projeto' %>
<% end %>


<div id="projects">
  <% @group.projects.each do |project| %>
  <h2><%= project.name %></h2>
  <%= project.description %>
  <%= project.target %>
  <%end%>
</div>


<%= link_to 'Inscrever-se', join_group_path(@group) %>
