<h1><%= @group.name %></h1>

<p><%= @group.description %></p>
<p><%= @group.market.name if @group.market %></p>
<% if @group.investors %>
  <% @group.investors.each do |investor| %>
    <p><%= investor.name %></p>
  <% end %>
<% end %>

<%= flash[:notice] %>
<%= link_to 'Inscrever-se', join_group_path(@group) %>
