<%= link_to 'Anjo', '#angel' %>
<%= link_to 'Startup', '#startup' %>

<div id='angel'>
  <p>Lorem Ipsum dolor amet</p>
  <%= link_to 'Mais', markets_path %>
</div>

<div id='startup'>
  <p>Lorem Ipsum dolor amet</p>
  <%= link_to 'Mais', markets_path %>
</div>

<div>
  <% @markets.each do |market| %>
    <%= link_to market.name, market %>
  <% end %>
</div>
