<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Angels</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
            <% if investor_signed_in? %>
              <div class="investor-nav">
                <li>Olá <%= current_investor.name %></li>
                <li><%=  link_to 'Sair', destroy_investor_session_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
              </div>
            <% elsif entrepreneur_signed_in? %>
              <div class="entrepreneur-nav">
                <li>Olá <%= current_entrepreneur.name %></li>
                <li><%= link_to 'Sair', destroy_entrepreneur_session_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
              </div>
            <% else %>
              <li><%=  link_to 'Investidor', new_investor_session_path %></li>
              <li><%=  link_to 'Empreendedor', new_entrepreneur_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
